{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify OTP</title>
    <link rel="stylesheet" href="{% static 'forgot-password.css' %}">
</head>
<body>
    <div class="background">
        <img src="{% static 'Back.jpg' %}" alt="">
    </div>
    <div class="container">
        <div class="form-container">
            <form class="form" method="POST">
                {% csrf_token %}
                <h1>Verify OTP</h1>
                <p class="description">Enter the OTP sent to your email</p>
                {{ otp_form.as_p }}
                <button type="submit">Verify & Reset Password</button>
                <div class="links">
                    <a href="{% url 'forgot_password' %}">Resend OTP</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
